

@{
    Layout = null;
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Đăng nhập</title>


    <script src="~/Content/js/jquery-3.5.1.min.js"></script>
    <link href="~/Content/css/font-awesome.min.css" rel="stylesheet" />


    <link href="~/Content/toastr.css" rel="stylesheet" />
    <script src="~/Scripts/toastr.js"></script>

    <link href="~/Content/css/login.css" rel="stylesheet" />


</head>
<body>

    @Html.Action("ThongBaoPartial", "Home")
    <div class="overlay">
        <!-- LOGN IN FORM by Omar Dsoky -->
        <form action="@Url.Action("DangKy")" method="post" id="myform">
            <!--   con = Container  for items in the form-->
            <div class="con">
                <!--     Start  header Content  -->
                <header class="head-form">
                    <h2>Đăng ký</h2>
                    <!--     A welcome message or an explanation of the login form -->
                    <p>Đăng ký tài khoản để có thể để lại bình luận</p>
                </header>
                <!--     End  header Content  -->
                <br>
                <div class="field-set">

                    <!--   name -->
                    <span class="input-item">
                        <i class="fa fa-keyboard-o icon"></i>
                    </span>
                    <!--   user name Input-->
                    <input class="form-input" id="txt-input" type="text" placeholder="Họ và tên" name="name" required>

                    <br>

                    <!--   user name -->
                    <span class="input-item">
                        <i class="fa fa-user icon"></i>
                    </span>
                    <!--   user name Input-->
                    <input class="form-input" id="txt-input" type="text" placeholder="Tên đăng nhập" name="username" required>

                    <br>

                    <!--   Password -->
                    <span class="input-item">
                        <i class="fa fa-key icon"></i>
                    </span>
                    <!--   Password Input-->
                    <input class="form-input" type="password" placeholder="Mật khẩu" id="pwd" name="password" required>

                    <!--      Show/hide password  -->

                    <span>
                        <i class="fa fa-eye" aria-hidden="true" type="button" id="eye"></i>
                    </span>

                    <br>

                    <!--   Password Comfirm -->
                    <span class="input-item">
                        <i class="fa fa-pencil icon"></i>
                    </span>
                    <!--   Password Input-->
                    <input class="form-input" type="password" placeholder="Xác nhận mật khẩu" id="pwd2" name="password2" required data-rule-equalTo="#pwd">

                    <!--      Show/hide password  -->

                    <span>
                        <i class="fa fa-eye" aria-hidden="true" type="button" id="eye2"></i>
                    </span>

                    <br>





                    <!--        buttons -->
                    <!--      button LogIn -->
                    <button class="log-in" type="submit"> Đăng ký </button>
                </div>



                <!--   other buttons -->
                <div class="other">

                    <a class="button" href="~/Home/Index">Trở về trang chủ</a>

                    <!--      End Other the Division -->
                </div>

                <!--   End Conrainer  -->
            </div>

            <!-- End Form -->
        </form>
    </div>
</body>

<script>
// just for the demos, avoids form submit
jQuery.validator.setDefaults({
  debug: true,
  success: "valid"
});
$( "#myform" ).validate({
  rules: {
    password: "required",
    password2: {
      equalTo: "#pwd"
    }
  }
});
</script>
<script src="~/Content/js/signup.js"></script>
</html>



