
@{
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}


<link rel="stylesheet" href="/Content/css/leaflet.css">
<!--liên kết css của leaflet-->
<script src="/Content/js/leaflet.js"></script>
<!--liên kết js của leaflet-->


<link href="~/Content/css/MarkerCluster.css" rel="stylesheet" />
<link href="~/Content/css/MarkerCluster.Default.css" rel="stylesheet" />
<script src="~/Content/js/leaflet.markercluster.js"></script>





<br>
<div id="control-box">
</div>

<div class="left-side">
    <div class="opac fw-bold left-box" style=" background-image: url('/Content/images/xybox.jpg'); background-size:auto">

        <div>Tọa độ điểm đã chọn:</div>

        <div>Latitude: <input type="text" class="form-control" id="textbox-x" readonly></div>

        <div>Longtitude: <input type="text" class="form-control" id="textbox-y" readonly></div>
    </div>

    <div class="opac fw-bold left-box" style=" background-image: url('/Content/images/toolbox.jpg');">

        <div class="form-check">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
            <label class="form-check-label" for="inlineRadio1">Chọn loại địa điểm</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
            <label class="form-check-label" for="inlineRadio2">Tìm địa điểm trong phạm vi bán kính</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
            <label class="form-check-label" for="inlineRadio3"> Vị trí của bạn</label>
        </div>
        
    </div>

    <div class="opac left-box" id="add-left-side" style="display:none"></div>

    <div class="opac fw-bold left-box" style="background-color: rgba(128, 193, 255, 0.8)">
        <a href="/Home/TimDuongDi">  <i class="fa fa-arrow-up"></i> Tìm đường đi</a> <br />
        
    </div>

</div>

<div id="map"></div>

<!-- Custom Javascript -->
<script src="/Content/js/custom.js"></script>
