
@{
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<!-- Header -->
<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1 class="opac">Bản đồ địa điểm <br> mua sắm tại <br> thành phố Cần Thơ</h1>

            <a href="@Url.Action("BanDo")" class="btn btn-primary btn-lg">Khám phá ngay</a>
        </div>
    </div>
</header>