
@{
    Layout = "~/Views/Shared/_UserLayout.cshtml"; ;
}


<link rel="stylesheet" href="/Content/css/leaflet.css">
<!--liên kết css của leaflet-->
<script src="/Content/js/leaflet.js"></script>
<!--liên kết js của leaflet-->


<link href="~/Content/css/MarkerCluster.css" rel="stylesheet" />
<link href="~/Content/css/MarkerCluster.Default.css" rel="stylesheet" />
<script src="~/Content/js/leaflet.markercluster.js"></script>

<link href="~/Content/css/leaflet-routing-machine.css" rel="stylesheet" />
<script src="~/Content/js/leaflet-routing-machine.js"></script><!--đã thêm tiếng Việt 'vi'-->

<link href="~/Content/css/Control.Geocoder.css" rel="stylesheet" />
<script src="~/Content/js/Control.Geocoder.js"></script>

<div class="left-side">
    <div class="opac fw-bold left-box" style=" background-image: url('/Content/images/xybox.jpg'); ">

        <div>Tọa độ điểm đã chọn:</div>

        <div>Latitude: <input type="text" class="form-control" id="textbox-x" readonly></div>

        <div>Longtitude: <input type="text" class="form-control" id="textbox-y" readonly></div>
    </div>

    <div class="opac fw-bold left-box" style=" background-image: url('/Content/images/toolbox.jpg');">

        <a href="/Home/BanDo"><i class="fa fa-backward"></i> Trở lại bản đồ chính</a>


    </div>

    <div class="opac left-box" id="add-left-side" style="display:none"></div>

</div>

<div id="map"></div>





<!-- Custom Javascript -->

<script src="/Content/js/TimDuongDi.js"></script>



