@using TN213_MuaSamCanTho.Models; 



@if (Session["TaiKhoan"] != null && Session["TaiKhoan"] != "")
{
    TaiKhoan tk = (TaiKhoan)Session["TaiKhoan"];
    <!-- Navigation -->
    <nav class="navbar navbar-expand-md navbar-dark bg-transparent border-bottom">
        <div class="container-fluid">
            <a class="navbar-brand fw-bolder fs-3" href="../Home/Index"><i class="fa fa-shopping-cart"></i> T N 2 1 3 </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle text-decoration-none fw-bolder nav-a" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <i class="fa fa-user"> </i> Xin chào @tk.TenNguoiDung <span class="caret"></span></a>
                    <ul class="dropdown-menu" aria-labelledby="about-us">
                        <li><a href="#" class="dropdown-item"> <i class="fa fa-user"></i> Quản lý tài khoản  </a></li>
                        <li><a href="#" class="dropdown-item"> <i class="fa fa-comment"></i> Quản lý bình luận  </a></li>
                        <li><a href="@Url.Action("DangXuat", "User")" class="dropdown-item"> <i class="fa fa-sign-out"></i> Đăng xuất  </a></li>

                    </ul>
                </li>
            </div>

            

        </div>
    </nav>
}
else
{
    <!-- Navigation -->
    <nav class="navbar navbar-expand-md navbar-dark bg-transparent border-bottom">
        <div class="container-fluid">
            <a class="navbar-brand fw-bolder fs-3" href="../Home/Index"><i class="fa fa-shopping-cart"></i> T N 2 1 3 </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="nav navbar-right">
                <li>
                    <a href="@Url.Action("DangKy", "User")" class="text-decoration-none fw-bolder nav-a">Đăng ký tài khoản <i class="fa fa-book"></i></a>
                </li>
                <li>
                    <a href="@Url.Action("DangNhap", "User")" class="text-decoration-none fw-bolder nav-a">Đăng nhập <i class="fa fa-sign-in"></i></a>
                </li>
            </div>
        </div>
    </nav>
}